/* STYLES */

body {
    background: lightblue;
    color: purple;
    font-family: 'Consolas', sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 600;
}

h2 {
    background-color: aquamarine;
    padding: 16px;
    border-radius: 16px;
    line-height: 1.1;
}

h4 {
    text-align: center;
    line-height: 1.1;
}

ul {
    text-align: center;
    list-style: square;
}

li {
    background-color: aquamarine;
    padding: 16px;
    border-radius: 16px;
    line-height: 1.1;
}